{% include 'incl/header.html' %}

<div class="pagebox wrapper">
  <h2>What is this site?</h2>
  <p>
  A collection of ...
  <ul>
      <li>Upcoming Open Source and Technology related conferences.</li>
      <li>Video recordings from previous events.</li>
      <li>Interview and other podcasts about Open Source and Technology in general.</li>
  </ul>
  </p>

  <h2>Why?</h2>
  <p>
    To provide a place where people who are looking for speaking opportunities and people who would like to attend events
    can easily find what they are looking for.
  <p>
  <p>
    To make it easy for people who cannot attend events to find and watch presentations from previous events.
  </p>
  <p>
   To make it easy for Open Source and Tech conference organizers to list their events (it is just a <a href="https://github.com/szabgab/conferences">pull-request</a>).
  </p>
  <h2>Who</h2>
  <p>
  <a href="http://szabgab.com/">Gabor Szabo</a> runs the site, but given that both the source code and the data can be found on 
  <a href="https://github.com/szabgab/conferences">GitHub</a> anyone can easily contribute.
  </p>

  <h2>Contribute</h2>
  <p>
   The site seriously needs some design and more data. You can contribute events, and corrections to existing data.
   One of the most valuable contribution might be to add "topics" to the events and "tags" to the videos.
  </p>

  <h3>Podcast</h3>
  <p>
  If you'd like to see additional podcasts listed here, file a ticket or open a pull request.
  </p>
</div>

<br>

<div class="pagebox wrapper">
    <h2>Sources</h2>
      <p>
      There are plenty of places where events are collected. Some are generic places where any type of event can be listed. Other are for a specific technology or a specific country.
      </p>
      
      <ul>
        <li>The <a href="http://www.callbackwomen.com/">Callback Women</a> known as <a href="https://twitter.com/CallbackWomen/">@CallbackWomen</a> on Twitter has a <a href="https://twitter.com/CallbackWomen/lists/">list of lists</a> with tons of events.</li>
        <li><a href="https://www.eventbrite.com/">Eventbrite</a> list of conferences and other events in any subject.</li>
        <li><a href="http://www.meetup.com/">Meetup</a> is for any kind of meeting, not necessarily tech and not necessarily conference.</li>
        <li><a href="http://lanyrd.com/">Lanyrd</a></li>
        <li><a href="https://sched.org/">Scheduler</a></li>
        <li><a href="http://events.linuxfoundation.org/">Linux Foundation Events</a>. Events organized by the Linux Foundation</li>
        <li><a href="https://github.com/golang/go/wiki/Conferences">GoLang conferences</a></li>
        <li><a href="https://www.drupal.org/drupalcon">Drupalcon</a></li>
        <li><a href="http://droidcon.com/">DroidCon</a> Android related events.</li>
        <li><a href="https://secure.php.net/conferences/">PHP Conferences</a></li>
        <li><a href="http://sdiwc.net/">The Society of Digital Information and Wireless Communications (SDIWC)</a></li>
        <li><a href="http://iteventz.bg/">IT events in Bulgaria</a> (in Bulgarian)</li>
        <li><a href="https://opensource.com/resources/conferences-and-events-monthly">Open Source calendar</a>  (but it usually only lists for the next 2 months, not good for call for papers)</li>
        <li><a href="https://www.papercall.io/cfps">Call for Papers</a></li>
        <li><a href="https://en.wikipedia.org/wiki/List_of_free-software_events">List of free-software events</a></li>
        <li><a href="http://flisol.info/">FLISOL</a></li>
        <li><a href="https://diversitytickets.org/">Diversity Tickets</a> can help people from minorities to attend tech events.</a></li>
        <li><a href="https://github.com/benmvp/frontend-confs">frontend conferences</a> collected by Ben Ilegbodu</li>
        <li><a href="http://rubyconferences.org/">Ruby Conferences</a></li>
        <li><a href="http://wespeaktoo.org/">We Speak Too</a></li>
        <li><a href="http://confreaks.tv/">ConFreaks</a></li>
        <li><a href="http://www.techconferences.io/">TechConferences</a></li>
        <li><a href="https://frontendfront.com/conferences/">FrontEnd Conferences</a> source in <a href="https://github.com/frontendfront/front-end-conferences">GitHub</a></li>
        <li><a href="https://skillsmatter.com/">Skills Matter</a></li>
        <li><a href="https://www.allconferencealert.com/">All conference alert</a> seem to contain academic events only.</li>
        <li><a href="http://whiteoctoberevents.co.uk/">White October Events</a></li>
        <li><a href="https://www.dotconferences.com/">Dot Conferences in Paris</a></li>
        <li><a href="https://enbytech.github.io/">A list of non-binary speakers who do talks on technology</a></li>
        <li><a href="https://github.com/prigara/javascript-conferences">javascript-conferences</a></li>
        <li><a href="https://www.genbetadev.com/tag/eventos-para-desarrolladores">Eventos para Desarrolladores</a></li>
        <li><a href="http://wikicfp.com/cfp/">WikiCFP</a></li>
        <li><a href="http://devopsconferences.org/">DevOps Conferences</a></li>
        <li><a href="http://www.davidgiard.com/CentralUSEvents.aspx">Central US Community Tech Events</a></li>
        <li><a href="https://tchspk.rs/cfp">Mozilla Tech CFPs</a></li>
        <li><a href="https://cfptime.org/">CFP Time</a></li>
        <li><a href="https://conferencelist.io/">ConferenceList</a></li>
        <li><a href="https://conferenceradar.com/">Conference Radar</a></li>
        <li><a href="https://splatworld.tv/digital-marketing-and-website-development-events/">Digital Marketing related events</a></li>
      </ul>
</div>

<br>

<div class="pagebox wrapper">
    <h2>Stats</h2>
{% include 'incl/stats.html' %}
</div>

<br>

<div class="pagebox wrapper">
   <!--
   At first, on 21 September 2016, I've started to collect information about podcasts. Indexing their episodes and collecting information about people.
   Then I felt I needed a list of conferences an on 6 October 2016 I've started to collect those too. In the beginning only the upcoming conferencese, then
   at some point also the video recordings from the earlier events.
   I had Google Analytics data on xcast between 9 October and 10 November.
   On 24 October 2016 I've created a web site from the conferences.
   On 10 November 2016 I've started to merge the data from the two sites.
   On 14 November 2016 I've launched the <a href="https://codeandtalk.com/">Code And Talk</a> site....
   -->
   
   <p>This is a collection of future Open Source and Tech conferences, and video recordings from previous conferences.</p>
   <p>The collection started on 24 October 2016 so not surprisingly it still has only a few items and the UI is well, let's not say anything about that.</p> 
   <p>Nevertheless I believe in release early release often and thus you already have access to the site. If you'd like to add a conference, or improve the site, everything can be found in <a href="https://github.com/szabgab/conferences" target="_blank">this GitHub repository</a>.</p>
</div>


{% include 'incl/footer.html' %}

