{% include 'incl/header.html' %}

<div class="wrapper">
  <div class="frontbox">
    <h2>How you can contribute</h2>
      <p>There are a few ways you can contribute to Code And Talk.</p>
    <h3>On GitHub</h3>
      <p>The most direct way to contribute is to join us on GitHub, and do one or more of the following:</p>
      <ul>
        <li>Tackle open Issues; and</li>
        <li>Submit data on upcoming conferences, podcasts you enjoy, and speakers who you follow by submitting pull requests.</li>
      </ul>
    <h3>Submit data</h3>
      <p>You can also submit event, podcast, and speaker information directly to us by sending us an email.</p>
  </div>
</div>    

{% include 'incl/footer.html' %}