{% include 'incl/header.html' %}

<div class="wrapper">
  <div class="frontbox">
    <h2>How you can contribute</h2>
      <p>There are a few ways you can contribute to Code And Talk.</p>
    <h3>On GitHub</h3>
      <p>The most direct way to contribute is to <a href="https://github.com/szabgab/codeandtalk.com" target="_blank" alt="Join us on GitHub">join us on GitHub</a>, and either:</p>
      <ul>
        <li>Tackle open <a href="https://github.com/szabgab/codeandtalk.com/issues" target="_blank" alt="Tackle open Issues">Issues</a>; or</li>
        <li>Submit data on upcoming conferences, podcasts you enjoy, and speakers who you follow by submitting pull requests (or both).</li>
      </ul>
    <h3>Submit data</h3>
      <p>You can also <a href="https://github.com/szabgab/codeandtalk.com/blob/main/docs/EVENTS.md" target="_blank" alt="Add events">add events</a>, submit interesting <a href="http://https://github.com/szabgab/codeandtalk.com/blob/main/docs/PODCASTS.md" target="_blank" alt="Submit podcasts">podcasts</a> and <a href="https://github.com/szabgab/codeandtalk.com/blob/main/docs/VIDEOS.md" target="_blank" alt="Submit podcasts">videos</a>, as well as <a href="https://github.com/szabgab/codeandtalk.com/blob/main/docs/PEOPLE.md" target="_blank" alt="Submit information about people">information about people worth following</a> directly to us by <a href="mailto:gabor@szabgab.com">sending Gabor an email</a>.</p>
  </div>
</div>    

{% include 'incl/footer.html' %}