{% include 'incl/header.html' %}

<div><a href="{{ event['url'] }}">{{ event['name'] }}</a></div>

{% if event['cfp_end'] %}
   <div>
      <span>Call for Papers: {{ event['cfp_end'] }}</span>
      {% if event['tweet_cfp'] %}
         <a href="https://twitter.com/home?status={{ event['tweet_cfp'] }}" target="_blank">Tweet this cfp</a>
      {% endif %}
   </div>
{% endif %}
<div>Start date: {{ event['event_start'] }}</div>
<div>End date: {{ event['event_end'] }}</div>

<div>Location:
  {% if event['city'] %}{{ event['city'] }}{% endif %}
  {% if event['state'] %}{{ event['state'] }}{% endif %}
  {% if event['country'] %}<a href="/l/{{ event['country_page'] }}">{{ event['country'] }}</a>{% endif %}
</div>

<div>{% if event['code_of_conduct'] %}<a href="{{ event['code_of_conduct'] }}">Code of Conduct</a>{% else %}<a href="/code-of-conduct">Code of Conduct <b>not found</b></a>{% endif %}</div>
<div>{% if event['diversitytickets_url'] %}<a href="{{ event['diversitytickets_url'] }}">{{ event['diversitytickets_text'] }}</a>{% else %}No <a href="/diversity-tickets"><b>Diversity Tickets</b></a>{% endif %}</div>
<div>Languages: {% for lang in event['languages'] %}{{ lang }}{% endfor %}</div>
<div>Topics:
   {% for topic in event['topics'] %}
       <a href="/t/{{ topic['path'] }}">{{ topic['name'] }}</a> 
   {% endfor %}
</div>

{% if event['twitter'] %}
<div>Twitter: <a href="https://twitter.com/{{ event['twitter'] }}">@{{ event['twitter'] }}</a></div>
{% endif %}

{% if event['hashtag'] %}
<div>Hashtag: <a href="https://twitter.com/hashtag/{{ event['hashtag'] }}">#{{ event['hashtag'] }}</a></div>
{% elif event['twitter'] %}
<div>Hashtag: <a href="https://twitter.com/hashtag/{{ event['twitter'] }}">#{{ event['twitter'] }}</a></div>
{% endif %}

{% if event['facebook'] %}
<div>Facebook: <a href="{{ event['facebook'] }}">{{ event['facebook'] }}</a></div>
{% endif %}

<div>
<a href="https://twitter.com/home?status={{ event['tweet_me'] }}" target="_blank">Tweet this event</a>
</div>

{% if videos %}
  <h2>Videos</h2>
  {% include 'incl/videos.html' %}
{% endif %}

{% if event.youtube %}
<div>
<a href="https://www.youtube.com/playlist?list={{ event.youtube }}">Videos</a>
</div>
{% endif %}

{% if series %}
<h2>Related events:</h2>
<ul>
   {% for e in series.events | sort(attribute = 'name') %}
      {% if event['name'] != e.name %}
         <li><a href="/e/{{e.nickname}}">{{e.name}}</a></li>
       {% endif %}
   {% endfor %}
</ul>
{% endif %}

{% include 'incl/footer.html' %}
