{% include 'incl/header.html' %}

<div class="wrapper pagebox">
  <h2><a href="{{ event['website'] }}">{{ event['name'] }} {{event.year}}</a></h2>
  
  <div class="wrapper__flex">
    <div class="wrapper__unit">
  
      <h3>Event information</h3>
  
    {% if event['cfp_end'] %}
      <div>
          <p>Call for Papers: {{ event['cfp_end'] }}</p>
          {% if event['tweet_cfp'] %}
            <a href="https://twitter.com/home?status={{ event['tweet_cfp'] }}" target="_blank">Tweet this CFP</a>
          {% endif %}
      </div>
    {% endif %}

    <ul>
      <li>Start date: {{ event['event_start'] }}</li>
      <li>End date: {{ event['event_end'] }}</li>
      <li>Location:
        {% if event['location']['city'] %}{{ event['location']['city'] }}, {% endif %}
        {% if event['location']['state'] %}{{ event['location']['state'] }}, {% endif %}
        {% if event['location']['country'] %}<a href="/l/{{ event['country_page'] }}">{{ event['location']['country'] }}</a>{% endif %}
      </li>
    </ul>
  
  
    <p>{% if event['code_of_conduct'] %}<a href="{{ event['code_of_conduct'] }}">Code of Conduct</a>{% else %}<a href="/code-of-conduct">Code of Conduct: <b>not found</b></a>{% endif %}</p>
    <p>{% if event['diversitytickets_url'] %}<a href="{{ event['diversitytickets_url'] }}">{{ event['diversitytickets_text'] }}</a>{% else %}No <a href="/diversity-tickets"><strong>Diversity Tickets</strong></a>{% endif %}</p>
    <p>Languages: {% for lang in event['languages'] %}{{ lang }} {% endfor %}</p>
    <p>Topics:
      {% for topic in event['topics'] %}
          <a href="/t/{{ topic['path'] }}">{{ topic['name'] }}</a> 
      {% endfor %}
    </p>
    
    <h3>Social</h3>
    
    {% if event['twitter'] %}
    <p>Twitter: <a href="https://twitter.com/{{ event['twitter'] }}">@{{ event['twitter'] }}</a></p>
    {% endif %}
  
    {% if event['hashtag'] %}
    <p>Hashtag: <a href="https://twitter.com/hashtag/{{ event['hashtag'] }}">#{{ event['hashtag'] }}</a></p>
    {% elif event['twitter'] %}
    <p>Hashtag: <a href="https://twitter.com/hashtag/{{ event['twitter'] }}">#{{ event['twitter'] }}</a></p>
    {% endif %}
    
    {% if event['facebook'] %}
    <p>Facebook: <a href="{{ event['facebook'] }}">{{ event['facebook'] }}</a></p>
    {% endif %}
  
    <p>
    <a href="https://twitter.com/home?status={{ event['tweet_me'] }}" target="_blank">Tweet this event</a>
    </p>
  
    {% if videos %}
      <h3>Videos</h3>
      {% include 'incl/videos.html' %}
    {% endif %}
  
    {% if event.youtube %}
    <div>
    <a href="https://www.youtube.com/playlist?list={{ event.youtube }}">Videos</a>
    </div>
    {% endif %}
  </div>

  <div class="wrapper__unit">
    {% if series %}
    <h3>Related events:</h3>
    <ul>
       {% for e in series.events | sort(attribute = 'name') %}
          {% if event['year'] != e.year %}
             <li><a href="/e/{{e.nickname}}">{{e.name}} {{e.year}}</a></li>
           {% endif %}
       {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="wrapper__unit">
    {% if event['twitter'] %}
    <a class="twitter-timeline" data-width="500" data-height="600"
       href="https://twitter.com/{{ event['twitter'] }}">Tweets</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}
  </div>

  </div>


</div>

{% include 'incl/footer.html' %}
