{% include 'incl/header.html' %}

<div id="featured_by_blaster">
  <h2>by Blaster</h2>
  {% for blaster in featured_by_blaster %}
    <h3>{{ blaster }}</h3>
    <ul>
      {% for video in featured_by_blaster[blaster] %}
        <li>
           <span {% if video.class_name %}class="{{ video.class_name }}"{% endif %}>{{ video.featured }}</span>
           <a href="/v/{{ video.event.nickname }}/{{ video.filename }}">{{ video.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<div id="featured_by_date">
  <h2>by Date</h2>
  {% for (date, lst) in featured_by_date|dictsort %}
    <h3>{{ date }}</h3>
    <ul>
      {% for video in lst %}
        <li>
          <span {% if video.class_name %}class="{{ video.class_name }}"{% endif %}>{{ video.featured }}</span>
          {% for b in video.blasters %}
            {{ b }}
          {% endfor %}
          <a href="/v/{{ video.event.nickname }}/{{ video.filename }}">{{ video.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>


{% include 'incl/footer.html' %}

