{% include 'incl/header.html' %}

<div class="wrapper">
  <button class="button" type="button" onclick="window.open('/contribute')">Contribute to Code And Talk</button>
</div>

<div class="wrapper">
  <div class="left frontbox">
    <div class="fa fa-microphone fa-4x"></div>
    <div>
        <p><strong>Speakers:</strong> Are you looking for speaking opportunities? We have collected {{ stats.cfp }} conferences that have their <a href="/cfp">call for presentation</a> still open. You can pick the one that is relevant to you and submit your talk proposal.</p>
    </div>
  </div>
   
  <div class="right frontbox">
      <div class="fa fa-users fa-4x"></div>
      <div>
        <p><strong>Attend:</strong> Are you looking for a conference to attend? There are {{ stats.future }} conferences in our database which you can attend.</p>
      </div>
  </div>
</div>

<div class="wrapper">
  <div class="left frontbox">
    <div class="fa fa-podcast fa-4x"></div>
    <div>
        <p><a href="/podcasts"><strong>Podcasts:</strong></a> There are {{ stats.episodes }} episodes from {{ stats.podcasts }} <a href="/podcasts">podcasts</a> indexed on our site.  You can look for individual episodes and listen to them.</p>
    </div>
  </div>

  <div class="right frontbox">
    <div class="fa fa-video-camera fa-4x"></div>
    <div>
      <p><a href="/videos"><strong>Videos:</strong></a> We have indexed {{ stats.videos }} videos from {{ stats.total }} conferences. We hope that even if you could not make it to a conference this way you can enjoy some of the presentations.</p>
    </div>
    </div>
</div>

{% include 'incl/footer.html' %}

