{% include 'incl/header.html' %}

{% if conferences %}
<table id="conferences" class="display compact">
  <thead>
    <tr><th>Start</th><th>CFP</th><th>CoC</th><th>A11y</th><th>What</th><th>Where</th></tr>
  </thead>
  <tbody>
    {% for c in conferences %}
    <tr>
      <td>{{ c['start_date'] }}</td>
      <td class="{{ c['cfp_class'] }}">{{ c['cfp_date'] }}</td>
      <td>{% if c['code_of_conduct'] %}<a href="{{ c['code_of_conduct'] }}">OK</a>{% endif %}</td>
      <td>{% if c['accessibility'] %}<a href="{{ c['accessibility'] }}"><img style="width: 32px" src="/img/a11ylogo150.png" alt="A11y" /></a>{% endif %}</td>
      <td><a href="/e/{{ c['nickname'] }}">{{ c['name'] }}</a></td>
      <td>{{ c['city'] }}, {% if c['state'] %}{{ c['state'] }}, {% endif %} <a href="/l/{{ c['country_page'] }}">{{ c['country'] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% if earlier_conferences %}
<h2>Earlier events</h2>
<table id="earlier" class="display compact">
  <thead>
    <tr><th>Start</th><th>CFP</th><th>CoC</th><th>A11y</th><th>What</th><th>Where</th></tr>
  </thead>
  <tbody>
    {% for c in earlier_conferences %}
    <tr>
      <td>{{ c['start_date'] }}</td>
      <td class="{{ c['cfp_class'] }}">{{ c['cfp_date'] }}</td>
      <td>{% if c['code_of_conduct'] %}<a href="{{ c['code_of_conduct'] }}">OK</a>{% endif %}</td>
      <td>{% if c['accessibility'] %}<a href="{{ c['accessibility'] }}"><img style="width: 32px" src="/img/a11ylogo150.png" alt="A11y" /></a>{% endif %}</td>
      <td><a href="/e/{{ c['nickname'] }}">{{ c['name'] }}</a></td>
      <td>{{ c['city'] }}, {% if c['state'] %}{{ c['state'] }}, {% endif %} <a href="/l/{{ c['country_page'] }}">{{ c['country'] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if videos %}
<h2>Videos</h2>
<ul>
{% for v in videos %}
  <li><a href="/v/{{v.event.nickname}}/{{v.filename}}">{{v.title}}</a> recorded on {{v.recorded}} at <a href="/e/{{v.event}}">{{v.event_name}}</a>.</li>
{% endfor %}
</ul>
{% endif %}

{% if episodes %}
<h2>Podcasts</h2>
<ul>
{% for e in episodes %}
  <li><a href="{{e.permalink}}">{{e.title}}</a></li>
{% endfor %}
</ul>
{% endif %}


{% include 'incl/footer.html' %}

