{% include 'incl/header.html' %}

    <div class="wrapper pagebox">
      <h2><a href="{{ person['info']['home'] }}">{{ person['info']['name'] }}</a></h2>
      <ul>
        {% if person['info']['github'] %}
        <li><a href="https://github.com/{{ person['info']['github'] }}">GitHub: {{ person['info']['github'] }}</a></li>
        {% endif %}
        {% if person['info']['twitter'] %}
        <li><a href="https://twitter.com/{{ person['info']['twitter'] }}">Twitter: @{{ person['info']['twitter'] }}</a></li>
        {% endif %}
    
        {% if person.info.description %}
        <li>{{ person.info.description|safe }}</li>
        {% endif %}
      </ul>
      

    {% if podcasts['guests'] %}
        <h2>Episodes</h2>
        <ul>
          {% for e in podcasts['guests'] %}
            <li>{{ e['date'] }} <a href="{{ e['permalink'] }}">{{ e['title'] }}</a> <a href="/s/{{ e['source'] }}">{{ e['source'] }}</a></li>
          {% endfor %}
        </ul>
    {% endif %}

    {% if podcasts['hosts'] %}
	    <h3>Hosting</h3>
        <ul>
	      {% for e in podcasts['hosts'] %}
	        <li>{{ e['date'] }} <a href="{{ e['permalink'] }}">{{ e['title'] }}</a> <a href="/s/{{ e['source'] }}">{{ e['source'] }}</a></li>
	      {% endfor %}
        </ul>
	{% endif %}

	{% if person['videos'] %}
        <h3>Talks</h3>
        <ul>
          {% for v in person['videos'] %}
            <li>
              <a href="/v/{{v.event}}/{{v.filename}}"><img class="list-thumbnail" src="{{v.thumbnail_url}}" alt="{{v.title}}" /></a>
             {{ v['recorded'] }} <a href="/v/{{ v.event }}/{{ v.filename }}">{{ v.title }}</a>  @ <a href="/e/{{ v.event }}">{{ events[ v.event ]['name'] }}</a>
            </li>
		  {% endfor %}
        </ul>
    {% endif %}
    </div>
	
{% include 'incl/footer.html' %}
