{% include 'incl/header.html' %}
    
<div class="wrapper pagebox">
    <h3><a href="{{ podcast['url'] }}">{{ podcast['title'] }}</a></h3> 
    <div>
       {% if podcast['feed'] %}<a href="{{ podcast['feed'] }}" class="rss" target="_blank">RSS</a> {% endif %}
       {% if podcast['itunes'] %}<a href="{{ podcast['itunes'] }}" class="itunes" target="_blank">iTunes</a>{% endif %}
    </div>
    <ul>
    {% for e in podcast['episodes'] %}
        <li>
           {{ e['date'] }} <div class="ep">{{ e['ep'] }}</div> <a href="{{ e['permalink'] }}">{{ e['title'] }}</a>
               (
                 {% for g in e['guests'] %}
                    <a href="/p/{{ g }}">{{ e['guests'][g]['name'] }}</a>{% if not loop.last %}, {% endif %}
                 {% endfor %}
               )
               (
                 {% for h in e['hosts'] %}
                    <a href="/p/{{ h }}">{{ e['hosts'][h]['name'] }}</a>{% if not loop.last %}, {% endif %}
                 {% endfor %}
               )
        </li>
    {% endfor %}
    </ul>
    </div>

{% include 'incl/footer.html' %}
