{% include 'incl/header.html' %}

<div class="wrapper pagebox">
  {% for (k, v) in series|dictsort %}
  <h2>{{ v.title }}</h2>
  {% if v.url %}
    <a href="{{ v.url }}">{{ v.title }}</a>
    {% endif %}
    <div class="description">
      {{ v.description|safe }}
        </div>
       
       <ul>
         {% for e in v.events | sort(attribute = 'name') %}
            <li><a href="/e/{{e.nickname}}">{{e.name}} {{e.year}}</a></li>
         {% endfor %}
       </ul>
  {% endfor %}
</div>

{% include 'incl/footer.html' %}

