{% include 'incl/header.html' %}

<form>
<input name="term" id="term" value="{{ term }}">
<input type="submit" value="Search">
</form>

Total number of videos: {{number_of_videos}}

{% if videos %}
<table id="conferences" class="display compact">
  <thead>
    <tr><th>Date</th><th>Title</th><th>Event</th><th>Speaker(s)</th></tr>
  </thead>
  <tbody>
    {% for v in videos %}
    <tr>
      <td>{{ v.recorded }}</td>
      <td><a href="/v/{{v.event.nickname}}/{{v.filename}}">{{v.title}}</a></td>
      <td><a href="/e/{{v.event.nickname}}">{{v.event.name}}</a></td>
      <td>
             {% for s in v.speakers %}
                <a href="/p/{{s}}">{{ v.speakers[s]['info']['name'] }}</a>
             {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% include 'incl/footer.html' %}
