{% if stats %}
   <div id="stats">
   <h3><a href="/conferences">Events</a></h3>
   Total number of events: {{ stats.total }}<br>
   Future events: {{ stats.future }}<br>
   Events with Open CFP: {{ stats.cfp }}<br>
   Diversity Tickets: {{ stats.has_diversity_tickets_future }}<br>
   Code of Conduct: {{ stats.coc_future_perc }}%<br>
   Accessibility: {{ stats.a11y_future_perc }}%<br>
   Diversity Tickets: {{ stats.diversity_tickets_future_perc }}%<br>
   <h3><a href="/podcasts">Podcasts</a></h3>
   Podcasts: {{ stats.podcasts }}<br>
   Episodes: {{ stats.episodes }}<br>
   <h3><a href="/people">People</a></h3>
   People: {{ stats.people }}
   <h3><a href="/videos">Videos</a></h3>
   Videos: {{ stats.videos }}
   </div>
{% endif %}

