  {% for v in videos %}
    <div class="video-list-entry">
       <a href="/v/{{v.event.nickname}}/{{v.filename}}"><img class="list-thumbnail" src="{{v.thumbnail_url}}" alt="{{v.title}}" /></a>
       <section class="details">
          <h4 class="entry-title"><a href="/v/{{v.event.nickname}}/{{v.filename}}">{{v.title}}</a></h4>
          <footer>
            <div class="recorded">{{v.recorded}}</div>
			{% if v.length %}
			  <div>Length: {{v.length}}</div>
			{% endif %}
			{% if v.views %}
              <div>Views: {{ v.views }} Likes: {{ v.likes }}</div>
            {% endif %}
            <div class="event">From <a href="/e/{{v.event.nickname}}">{{v.event.name}}</a></div>
            <div class="speakers">
            By: 
             {% for s in v.speakers %}
                <a href="/p/{{s}}">{{ v.speakers[s]['info']['name'] }}</a>
             {% endfor %}
            </div>
          </footer>
       </section>
    </div>
  {% endfor %}

