{% include 'incl/header.html' %}

<div class="aboutbox">
  <p>
  The objective is to provide a place where Open Source conference organizers can easily list their events (it is just a <a href="https://github.com/szabgab/conferences">pull-request</a>)
  and where they can check what date might fit in the more generic schedule of Open Source and Tech oriented conferences.
  </p>
  
  <p>
  For potential speakers we also include the deadline for submitting talk proposals.
  </p>
  
  <p>
  Partially related: I also run the <a href="http://code-maven.com/cmos">Code-Maven Open Source</a> podcast and video interview series.
  </p>
</div>

<h2>Sources</h2>

<div class="aboutbox">
  There are plenty of places where events are collected. Some are generic places where any type of event can be listed. Other are for a specific technology or a specific country.
  
  <ul>
    <li><a href="https://www.eventbrite.com/">Eventbrite</a> list of conferences and other events in any subject.</li>
    <li><a href="http://www.meetup.com/">Meetup</a> is for any kind of meeting, not necessarily tech and not necessarily conference.</li>
    <li><a href="http://events.linuxfoundation.org/">Linux Foundation Events</a>. Events organized by the Linux Foundation</li>
    <li><a href="https://github.com/golang/go/wiki/Conferences">GoLang conferences</a></li>
    <li><a href="https://www.drupal.org/drupalcon">Drupalcon</a></li>
    <li><a href="http://droidcon.com/">DroidCon</a> Android related events.</li>
    <li><a href="https://secure.php.net/conferences/">PHP Conferences</a></li>
    <li><a href="http://sdiwc.net/">The Society of Digital Information and Wireless Communications (SDIWC)</a></li>
    <li><a href="http://iteventz.bg/">IT events in Bulgaria</a> (in Bulgarian)</li>
    <li><a href="https://opensource.com/resources/conferences-and-events-monthly">Open Source calendar</a>  (but it usually only lists for the next 2 months, not good for call for papers)</li>
    <li><a href="https://twitter.com/CallbackWomen/lists/tech-conf-aggregators">Tech conf aggregators</a> by <a href="https://twitter.com/CallbackWomen/">@CallbackWomen</a></li>
    <li><a href="https://www.papercall.io/cfps">Call for Papers</a></li>
  </ul>
</div>

{% include 'incl/footer.html' %}

