{% include 'incl/header.html' %}

<div><a href="{{ event['url'] }}">{{ event['name'] }}</a></div>

{% if event['cfp_date'] %}<div>Call for Papers: {{ event['cfp_date'] }}</div>{% endif %}
<div>Start date: {{ event['start_date'] }}</div>
<div>End date: {{ event['end_date'] }}</div>

<div>Location:
  {% if event['city'] %}{{ event['city'] }}{% endif %}
  {% if event['state'] %}{{ event['state'] }}{% endif %}
  {% if event['country'] %}{{ event['country'] }}{% endif %}
</div>

<div>{% if event['code_of_conduct'] %}<a href="{{ event['code_of_conduct'] }}">Code of Conduct</a>{% else %}<a href="/code-of-conduct">Code of Conduct <b>not found</b></a>{% endif %}</div>
<div>Languages: {% for lang in event['languages'] %}{{ lang }}{% endfor %}</div>
<div>Topics:
   {% for topic in event['topics'] %}
       <a href="/t/{{ topic['path'] }}">{{ topic['name'] }}</a> 
   {% endfor %}
</div>

{% if event['twitter'] %}
<div>Twitter: <a href="https://twitter.com/{{ event['twitter'] }}">@{{ event['twitter'] }}</a></div>
{% endif %}

{% if event['facebook'] %}
<div>Facebook: <a href="https://facebook.com/{{ event['facebook'] }}">{{ event['facebook'] }}</a></div>
{% endif %}

<a href="http://twitter.com/home?status={{ event['tweet_me'] }}">Tweet this event</a>

{% include 'incl/footer.html' %}
