{% include 'incl/header.html' %}
{% if stats %}
<div id="stats">
Total: {{ stats.total }}
Future: {{ stats.future }}
Open CFP: {{ stats.cfp }}
</div>
{% endif %}

<table>
   <tr><td>Start</td><td>CFP</td><td>What</td><td>Where</td></tr>
{% for c in conferences %}
   <tr>
     <td>{{ c['start_date'] }}</td>
     <td class="{{ c['cfp_class'] }}">{{ c['cfp_date'] }}</td>
     <td><a href="/e/{{ c['nickname'] }}">{{ c['name'] }}</a></td>
     <td>{{ c['city'] }}, {% if c['state'] %}{{ c['state'] }}, {% endif %}{{ c['country'] }}</td>
   </tr>
{% endfor %}
</table>


{% if earlier_conferences %}
<h2>Earlier events</h2>
<ul>
{% for c in earlier_conferences %}
   <li>{{ c['start_date'] }} <a href="/e/{{ c['nickname'] }}">{{ c['name'] }}</a> {{ c['city'] }}, {{ c['country'] }}</li>
{% endfor %}
</ul>
{% endif %}

{% include 'incl/footer.html' %}

