{% include 'incl/header.html' %}

<div>{{video.description}}</div>

<iframe id="youtube" src="https://www.youtube.com/embed/{{video.videos[0].code}}" title="Video for " frameborder="0" allowfullscreen></iframe>

<!--
<img src="{{video.thumbnail_url}}" />
-->
<div>Recorded on {{video.recorded}} at <a href="/e/{{video.event}}">{{video.event_name}}</a></div>

<div>
<a href="https://twitter.com/home?status={{ video['tweet_video'] }}" target="_blank">Tweet this video</a>
</div>

<ul>
{% for s in video.speakers %}
  <li><a href="/p/{{s}}">{{video.speakers[s].info.name}}</a></li>
{% endfor %}
</ul>

<div id="tags">
{% for t in video.tags %}
  <a href="/t/{{t.link}}" class="tag" >{{t.text}}</a>
{% endfor %}
</div>


{% include 'incl/footer.html' %}

