{% include 'incl/header.html' %}

<div>{{video.title}}</div>
<div>{{video.description}}</div>

<iframe src="https://www.youtube.com/embed/{{video.videos[0].code}}" title="Video for " frameborder="0" allowfullscreen></iframe>

<!--
<img src="{{video.thumbnail_url}}" />
-->
<div>Recorded on {{video.recorded}} at <a href="/e/{{video.event}}">{{video.event_name}}</a></div>

<ul>
{% for s in video.speakers %}
  <li><a href="http://xcast.szabgab.com/p/{{s}}">{{video.speakers[s].info.name}}</a></li>
{% endfor %}
</ul>


{% include 'incl/footer.html' %}

