* {
    background: #FFF;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#menu a {
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    background: #233DFF;
    color: #FFF;
}


