* {
    background: #FFF;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#menu a {
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    background: #233DFF;
    color: #FFF;
}

#aboutbox {
  margin: 20px;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border-color: #DDEEFF;
  border-width: 10px;
  border-style: solid;
  width: 80%;
}


