* {
    background: #FFF;
    font-family: Arial, Helvetica, Sans;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.button {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 22px;
	text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 0 auto;
}
.button:hover {
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color: #f6f6f6;
}
.button:active {
	position: relative;
	top: 1px;
}

.pagebox {
  margin: 20px;
  padding: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border-color: #DDEEFF;
  border-width: 10px;
  border-style: solid;
  width: 80%;
}

.text {
  width: 80%;
}

.cfp_future {
   background-color: #acea48;
}
.cfp_past {
   background-color: #ea7348;
}
/*
.cfp_none {
   background-color: yellow;
}
*/

/*
#rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
*/

.list-thumbnail {
   width: 235px;
  border-radius: 10px;
}

.video-list-entry {
  margin-bottom: 50px;
}

.entry-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3em;
}

.itunes {
    background: #75C8FF;
    color: #FFF;
    font-weight: 500;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
}

.rss {
    background: #ffb415;
    color: #FFF;
    font-weight: 500;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
}

.tag {
    background: #337ab7;
    color: #FFF;
    font-weight: 500;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
}

#github {
    display: none;
}
@media (min-width: 600px) {
    #github {
        display: block;
    }
}

.ep {
    background-color: #DDD;
    width: 30px;
    display: inline-block;
    text-align: right;
}

#search {
    display: none;
}

#q {
	padding: 12px 20px;
    box-sizing: border-box;

    font-size: 1.1em;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#youtube {
   width: 284px;
   height: 160px;
}
@media (min-width: 800px) {
  #youtube {
     width: 640px;
     height: 360px;
  }
}

@media (min-width: 1100px) {
  #youtube {
     width: 853px;
     height: 480px;
  }
}

.container {
   margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

#secondary {
    background-color: #FFF;
    border: solid 1px black;
    text-align: center;
}
#secondary button {
   height: 40px;
   background-color: #f442f4;
}


nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    background-color: #333;
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover, .dropbtn:hover  {
    background-color: #1da1f2;
}

nav li.dropdown {
    display: inline-block;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #1da1f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul#menu {
    text-transform: uppercase;
}

nav .fa-twitter, .fa-facebook, .fa-github {
    color: #1da1f2;
    background-color: #333;
}

nav li a.regular:hover  {
    background-color: #333;
}

.btn {
    display: block;
    margin: 0 auto;
}

.wrapper {
  margin: auto;
  width: 80%;
  overflow: hidden;
}

.wrapper__flex {
  display: flex;
  flex-flow: row wrap;
}

/* .left {
    width: 50%;
    float:left;
}
.right {
    overflow: hidden;
} */

.frontbox {
  flex: 1;
  margin: 20px;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border-color: #DDEEFF;
  border-width: 10px;
  border-style: solid;
  min-width: 40%;
}

#blaster {
  width: 70%;
}

#top {
   display: inline;
}
#top_email {
  height: 40px;
  width: 300px;
}

.today_feature {
   background-color: green;
}
.future_feature {
   background-color: orange;
}
