* {
    background: #FFF;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#menu a {
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    background: #233DFF;
    color: #FFF;
}

.aboutbox {
  margin: 20px;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border-color: #DDEEFF;
  border-width: 10px;
  border-style: solid;
  width: 80%;
}

.text {
  width: 80%;
}

.cfp_future {
   background-color: #acea48;
}
.cfp_past {
   background-color: #ea7348;
}
/*
.cfp_none {
   background-color: yellow;
}
*/

/*
#rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
*/

.list-thumbnail {
   width: 235px;
  border-radius: 10px;
}

.video-list-entry {
  margin-bottom: 30px;
}

.entry-title {
  margin-top: 0px;
}

.itunes {
    background: #75C8FF;
    color: #FFF;
    font-weight: 500;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
}

.rss {
    background: #ffb415;
    color: #FFF;
    font-weight: 500;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
}


#github {
    display: none;
}
@media (min-width: 600px) {
    #github {
        display: block;
    }
}


.ep {
    background-color: #DDD;
    width: 30px;
    display: inline-block;
    text-align: right;
}

#search {
    display: none;
}

#youtube {
   width: 284px;
   height: 160px;
}
@media (min-width: 800px) {
  #youtube {
     width: 640px;
     height: 360px;
  }
}

@media (min-width: 1100px) {
  #youtube {
     width: 853px;
     height: 480px;
  }
}


