   <div id="aboutbox">
   This is a collection of Tech conferences started on 24 October 2016 so not surprisingly it still has only a few items and the UI is well, let's not say anything about that.
   Nevertheless I beleive in release early release often and thus you already have access to the site. If you'd like to add a conference, or improve the site,
   everything can be found in <a href="http://github.com/szabgab/conferences">this GitHub repository</a>.
   </div>

{% include 'incl/google.html' %}
</body>
</html>
