
   <div class="aboutbox">
   This is a collection of future Open Source and Tech conferences, and video recordings from previous conferences.
   The collection started on 24 October 2016 so not surprisingly it still has only a few items and the UI is well, let's not say anything about that.
   Nevertheless I believe in release early release often and thus you already have access to the site. If you'd like to add a conference, or improve the site,
   everything can be found in <a href="https://github.com/szabgab/conferences">this GitHub repository</a>.
   </div>

</div><!-- container -->

{% include 'incl/scripts.html' %}
{% include 'incl/google.html' %}
</body>
</html>
