<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{{title}}</title>

    <script src="https://use.fontawesome.com/2c3e31423c.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet"
          href="//cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css"
          type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />


    {% if video %}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@codeandtalk" />
      <meta name="twitter:creator" content="@szabgab" />
      <meta name="twitter:title" content="{{ video.title }}" />
      <meta name="twitter:description" content="{{ video.short_description }}" />
      <meta name="twitter:image" content="{{ video.thumbnail_url }}" />

      <meta property="og:title" content="{{ video.title }}"/>
      <meta property="og:type" content="article"/>
      <meta property="og:image" content="{{ video.thumbnail_url }}"/>
      <meta property="og:site_name" content="Code and Talk"/>
      <meta property="og:description" content="{{ video.short_description }}"/>
   {% endif %}


</head>
<body>
<nav>
   <ul id="menu" class="container">
     <li><a href="/">Home</a></li>
     <li class="dropdown">
         <span class="dropbtn">Conferences</span>
         <div class="dropdown-content">
           <a href="/conferences" class="dropbtn">Upcoming Conferences</a>
           <a href="/cfp">Call for Presentations</a>
           <a href="/countries">Countries</a>
           <a href="/cities">Cities</a>
           <a href="/code-of-conduct">Code of Conduct</a>
           <a href="/series">Event Series</a>
           <a href="/all-conferences">Past conferences</a>
         </div>
     </li>
     <li><a href="/topics">Topics</a></li>
     <li><a href="/podcasts">Podcasts</a></li>
     <li><a href="/people">People</a></li>
     <li><a href="/videos">Videos</a></li>
     <li><a href="/about">About</a></li>
     <li><form id="search"><input id="q" placeholder="Query" /></form></li>
     <li><a class="regular" href="https://twitter.com/codeandtalk"><span class="fa fa-twitter fa-lg"></span></a></li>
     <li><a class="regular" href="https://facebook.com/CodeAndTalk"><span class="fa fa-facebook fa-lg"></span></a></li>
     <li><a class="regular" href="https://github.com/szabgab/codeandtalk.com"><span class="fa fa-github fa-lg"></span></a></li>
  </ul>
</nav>
{% if blasters %}
  <nav id="secondary">
    Hop on our blaster list and get notified about new videos in your favorite topic. 
    {% for b in blasters %}
        <a href="/blaster/{{b}}"><button>{{b}}</button><a>
    {% endfor %}
  </nav>
{% endif %}

<div class="container">
    <h1>{{h1}}</h1>
