<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{{title}}</title>

	<!-- podcasts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/js/xcast.js"></script>
    <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css" type="text/css" />

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet"
          href="//cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css"
          type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />


    {% if video %}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@szabgab" />
      <meta name="twitter:creator" content="@szabgab" />
      <meta name="twitter:title" content="{{ video.title }}" />
      <meta name="twitter:description" content="{{ video.twitter_description }}" />
      <meta name="twitter:image" content="{{ video.thumbnail_url }}" />
   {% endif %}

</head>
<body>
<nav id="menu">
   <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/conferences">All the conferences</a></li>
   <li><a href="/cfp">Call for Papers</a></li>
   <li><a href="/code-of-conduct">Code of Conduct</a></li>
   <li><a href="/topics">Topics</a></li>
   <li><a href="/countries">Countries</a></li>
   <li><a href="/cities">Cities</a></li>
   <li><a href="/podcasts">Podcasts</a></li>
   <li><a href="/people">People</a></li>
   <li><a href="/about">About</a></li>
</ul>
<form id="search"><input id="q" placeholder="query" /></form>
</nav>
    <h1>{{h1}}</h1>

