<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
<nav id="menu">
   <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/conferences">All the conferences</a></li>
   <li><a href="/cfp">Call for Papers</a></li>
   <li><a href="/code-of-conduct">Code of Conduct</a></li>
   <li><a href="/topics">Topics</a></li>
   <li><a href="/countries">Countries</a></li>
</ul>
</nav>
    <h1>{{h1}}</h1>
   <div id="github">
   <a href="http://github.com/szabgab/conferences"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
   </div>

