{% include 'incl/header.html' %}

<div>
Collecting information about interviews and presentations of Open Source projects and Technology in general.
There are currently {{stats['episodes']}} episodes listed from <a href="/sources">{{stats['sources']}} podcasts</a> featuring <a href="/people">{{stats['people']}} people</a>.
<p>
The list of the podcasts is a bit arbitrary. If you'd like to see additional podcasts listed here, file a ticket or open a pull request.
<p>
</div>

<!--
    <h2>Stats</h2>
    <ul>
       <li>People: {{stats['people']}}</li>
       <li>Sources: {{stats['sources']}}</li>
       <li>Episodes: {{stats['episodes']}}</li>
    </ul>
-->

{% include 'incl/footer.html' %}
